<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="delimiter" value=","/>
  <add key="file" value="C://Users//rmaurya//Downloads//fwravitechtest//data.csv"/>
  <add key="outputName" value="C://Users//rmaurya//Downloads//fwravitechtest//outputName.txt"/>
  <add key="outputAdr" value="C://Users//rmaurya//Downloads//fwravitechtest//outputAdr.txt"/>
</appSettings>
</configuration>